<nav class="navbar navbar-expand-lg navbar-dark bg-dark margin-unten">
  <div class="container">
    <a class="navbar-brand" routerLink="/overview">Sport App</a>
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/overview" routerLinkActive="active">Übersicht</a>
        </li>

        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" routerLink="/favoriten" routerLinkActive="active">Favoriten</a>
        </li>
      </ul>
      <!-- Wenn eingeloggt Favoriten anzeigen -->
      <ul class="navbar-nav ml-auto" *ngIf="loggedIn">
        <li class="nav-item">
          <a class="nav-link fakelink" (click)="logout()">Logout</a>
        </li>
      </ul>
      <!-- Wenn ausgeloggt Login + registrieren -->
      <ul class="navbar-nav ml-auto" *ngIf="!loggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrieren" routerLinkActive="active">Registrieren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/start" routerLinkActive="active">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>