.list-group-item list-group-item-action ueberschrift {
  background-color: #0cd32dea;
  color: black;
}

.list-group {
  text-align: center;
}

h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h3 span {
  background: #fff;
  padding: 0 10px;
}

.halbzeit {
  margin-top: 0.3em;
  text-align: center;
}

/* .teamlogo {
  height: 100px;
} */
